.loginform{
width: 400px;
height: 500px;
// background-color: rgba(0,0,0,0.5);
z-index: 100;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
padding: 50px 30px;
box-shadow: 0 10px 20px rgba(0,0,0,0.5);
box-sizing: border-box;
}
.titlediv{
    text-align: center;
    margin-bottom: 50px;
}
.logoword{
font-size: 32px;
color:#1DA57A
}